# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Virtual environments
.venv/
venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# sample local data
lambda/etl_sales/sample_data/

# OS noise
.DS_Store
Thumbs.db
